.block{
    border: 1px solid red;
    margin: 20px;
}
.block__month{
    width: 25%;
    display: inline-block;
    border: 1px solid blueviolet;
    margin: 5px;
}

.block__hour{
    width: 68%;
    display: inline-block;
    border: 1px solid blueviolet;
    margin: 5px;
}

.block__modules{
    border: 1px solid blueviolet;
    margin: 5px;
}

.block__title{
    border: 1px solid blueviolet;
    margin: 5px;
}
.block__elem{
    margin: 5px;
    border: 1px solid blueviolet;
}